@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Montserrat');
@import "settings";

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Homemade Apple', cursive;
}

.map-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

// fix PR
.sign-in {
  margin-top: 3em;
}

.hidden {
  display: none;
}

.form-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  text-align: center;
  font-weight: 700;
}

.form-field {
  text-align: center;
}

.site-title {
  text-align: center;
}

.activity-card {
  border-radius: 1em;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30);
  text-align: center;
}

.story-card {
  border-radius: 1em;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30);
}

.hvr-grow {
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
  cursor: pointer;
}

.ride-title {
  text-align: center;
}

.ride-form {
  border-radius: 1em;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30);
  background-color: $light-gray;
}

.datepicker {
  border-radius: 1em;
  text-align: center;
}

.textarea {
  border-radius: 1em;
}

.textfield {
  border-radius: 1em;
  width: 50%;
}

input {
  border-radius: 1em;
}

.map-container {
  height: 500px;
}
