@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Homemade Apple', cursive;
}

.form-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  text-align: center;
}

.form-field {
  text-align: center;
}

.site-title {
  text-align: center;
}

.activity-card {
  border-radius: 1em;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30);
  text-align: center;
}

.ride-title {
  text-align: center;
}
