@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Homemade Apple', cursive;
}

.form-header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.form-field {
  text-align: center;
}

.site-title {
  text-align: center;
}
